.forgot{
    margin-top: 14px;
    text-align: center;
    font-size: var(--sm);
    text-decoration: none;
    margin-bottom: 54px;
}
.forgot a{
    color: var(--hospital-green);
}
.input-email{
    margin-bottom: 22px;
}
.secondary--button{
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
@media (max-width:640px) {
    .secondary--button{
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }
}