
.my_order{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap:16px;
    align-items: center;
    
    margin-bottom: 24px;
    
}

.my_order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my_order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.my_order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;

}
.my_order p span:nth-child(2){
    font-size: var(--sd);
    color: var(--very-light-pink);
}